This is a Jupyter notebook of Python scripts to demonstrate frequently-used operations for manipulating matrices and plotting data, fundamental operations in deep learning.  

Python has emerged as the language of choice for DL development. In addition to the functions inherent to Python, many libraries of 'higher-order' functions (i.e. functions constructed from combinations of more basic functions) have been devleoped for more specific applications. These can be imported to your workflow using the 'import' function. 

First, we import two such libraries: matplotlib.pyplot, which is useful for creating visualizations of data, and numpy, which is essential for creating and manipulating matrices and performing operations on them. 

Once imported, these libraries can be 'called' in our code by reffring to them by name. For notational convenience, we can initialize their  names as something shorter, using the 'import x as y' syntax.

In [0]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

One type of data is called a list. It is exactly what it sounds like. Let's create a list called list1 that contains numbers 1-5. Notice that a list begins and ends with brackets.

In [0]:
list1 = [1, 2, 3, 4, 5]

We can then use ***print*** to view list1. Notice how it shows the list below.

In [4]:
print(list1)

[1, 2, 3, 4, 5]

Say we want to know what the first value of list1 is. We can say print(list1[0]), and it should print the number 1 because that is the first element in the list. Notice how indexing starts with 0.

In [5]:
print(list1[0])

1

Similarly, we can print the second value in list1.

In [6]:
print(list1[1])

2

Lists can also contain letters, words, or even other lists! Let's create a list called letters that contains the letters of the alphabet up to but not including i. Notice how we need to wrap each letter (or word) in apostrophes because they are not numbers.

In [0]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

We can find out how many items are in a list by using len(letters). A function in python, similar to math, will take in some argument(s) and do the operations that are described in it on the argument(s). Python has many built-in functions, such as len(). To use this function, it needs to take in some list - in this case the list called letters - as an argument so it can count the number of items in the list and return that. Some functions don't take any arguments, but most do.

In [11]:
print(len(letters))

8

Below, let's create a list called names that contains the names Mary, John, Bob, and Tom. Remember to wrap each name in parenthesis since it's not a number, but a ***string***.

In [0]:
names = ['Mary', 'John', 'Bob', 'Tom']

Say we had a very long list of names and we wanted to know if one was in there. The line below illustrates how to search a list for a number/name/letter and see if it's in there. Let's look for John and Jack and  print out an appropriate response if the person is in the list or not.

In [14]:
if 'John' in names:
  print('Hi, John.')
  
if 'Jack' in names:
  print('Hi, Jack.')
else:
  print('Nice to meet you, Jack.')

Hi, John.
Nice to meet you, Jack.

We can also sort a list of numbers or names based on some criteria we specify (for numbers, it automatically uses the number itself). Let's create a list of numbers called list2 and sort it in ascending order.

In [0]:
list2 = [3, 5, 10, 29, -1, 38]

We can use the sort() method that will arrange all of the numbers in order.

In [0]:
list2.sort()

Let's print out list2 now to see if it was sorted properly.

In [18]:
print(list2)

[-1, 3, 5, 10, 29, 38]

We can also do arithmetic operations and other math operations in colab/python.

In [19]:
a = 3 * 3
print(a)

9

In [20]:
b = 3 + 1000
print(b)

1003

In [21]:
c = 10/2
print(c)

5

Let's create our own function called mean_calc to take in a list and calculate its mean.

In [0]:
def mean_calc(input_list):
  sum = 0.
  
  for value in input_list:
    sum += value
    
  return sum / len(input_list)

In [25]:
list2_mean = mean_calc(list2)
print(list2_mean)

14.0